@import '/src/mixins';
#startups{
    // position: relative;
    .arrow{
        margin: 0 auto;
        display: block;
        border: none;
        background: $color-gray;
        border-radius: 90px;
        width: 40px;
        height: 40px;
        z-index: 100;
        cursor: pointer;
        transition: .2s;
        
        &.active{
            transition: .2s;
            
        }

        svg{
            display: block;;
            position: absolute;
            top: 50%;
            left: 45%;
            transform: translate(-50%, -50%);
        }

        @media screen and (max-width: $media-screen-3) {
            display: none;
        }
    }

    .modal_wrapper{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001;
        height: 100%;
        width: 100%;
        background: #22222270;

        &_active{
            display: block;
        }
    }
}