@import '/src/mixins';
.footer{
    display: inline-block;
    height: 270px;
    transition: .3s;
    padding-left: 100px;
    margin-top: 40px;

    .content{
        margin-top: 50px;
        .social{
            display: flex;
            justify-content: center;
            gap: 20px;

            .social__item{
                color: none;
                &:hover{
                    color: none;
                    svg{
                        path{
                            fill: #fff;
                            transition: .2s;
                        }
                    }
                }
            }
        }
        .links{
            font-family: $font-roboto;
            font-weight: 400;
            font-size: 18px;

            &__item{
                display: inline-block;
                margin-top: 10px;
                margin-left: 5px;
                color: #fff;
                text-decoration: none;
                
            }
        }
    }
    @media screen and (max-width: $media-screen-1) {
        padding-left: 0;
    }

}