@import '/src/mixins';

.grid_item{
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    flex-direction: column;
    background: $color-black;
    border-radius: $border-radius;
    overflow: hidden;
    cursor: pointer;

    .content{
        text-align: left;
        background: $color-purple;
        height: 100%;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-left: 10px;
        
        &_title{
            margin: 0;
            padding: 0;
        }
        &_descr{
            padding: 0;
        }
    }
    .info{
        display: flex;
        justify-content: center;
        background: $color-black;
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box;

        &_item{
            font-weight: 900;
            width: 33%;
            p{  
                font-size: 10px;
                text-transform: uppercase;
                padding: 0;
                margin: 5px 0;
            }
            span{
                font-size: 26px;
            }
        }
        @media screen and (max-width: $media-screen-1) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            height: 120px;
            width: 90%;
            justify-items: center;
            align-items: center;
            text-align: center;

            
        }
    }
    @media screen and (max-width: $media-screen-3) {
        width: 100%;   
        height: 370px;

        .info{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: 0;
            align-items: flex-start;
            text-align: left;
            justify-content: left;
            height: auto;
            &_item{
                display: flex;
                justify-content: space-between;
                width: 100%;

                p{
                    display: inline;
                    font-size: 14px;
                }
            }
        }
    }
}